{% extends 'index.html' %}

{% block content %}
    <h1>Sveiki, {{ user.username }}</h1>

    <h2>Sukurk naują klausimą:</h2>
    <form method="post" action="{% url 'klausimo_ivedimo' %}">
        {% csrf_token %}
        {{ forma.as_p }} {# Display the form fields #}
        <button type="submit">Pateigti</button>
    </form>

    <h2>Neatsakyti klausimai:</h2>
    <ul>
        {% for klausimas in neatsakyti_klausimai %}
            <li>
                <a href="{% url 'klausimo_atvaizdavimas' klausimas.id %}">{{ klausimas.klausimas }}</a>
                <span class="author"> - {{ klausimas.vartotojas.username }}</span>
            </li>
        {% endfor %}
    </ul>

    <h2>Atsakyti klausimai:</h2>
    <ul>
        {% for klausimas in atsakyti_klausimai %}
            <li>
                {{ klausimas.klausimas }}
                <span class="author"> - {{ klausimas.vartotojas.username }}</span>
                {% if klausimas.atsakymas %}
                    (Atsakymas: {{ klausimas.atsakymas }})

                    (Likes: {{ klausimas.liked_by.count }})

                    {% if request.user in klausimas.liked_by.all %}
                        <form method="post" action="{% url 'like_answer' klausimas.id %}">
                            {% csrf_token %}
                            <button type="submit">Unlike</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'like_answer' klausimas.id %}">
                            {% csrf_token %}
                            <button type="submit">Like</button>
                        </form>
                    {% endif %}
                {% else %}
                    <form method="post" action="{% url 'klausimo_atvaizdavimas' klausimas.id %}">
                        {% csrf_token %}
                        <label for="atsakymas">Atsakymas:</label>
                        <input type="text" id="atsakymas" name="atsakymas">
                        <button type="submit">Pateigti atsakymą</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'logout' %}">Atsijungti</a>
{% endblock %}
